@import 'variables.scss';

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;

  #root {
    display: flex;
    justify-content: center;
  }
}

.App {
  position: relative;
  width: 800px;
  min-width: 600px;
  max-width: 750px;

  .cards {
    display: flex;

    > .card {
      width: 50%;
    }
  }

  .refund-button {
    margin-top: 2 * $unit;
  }

}
