@import 'variables.scss';
@import 'util-components.scss';

.credentials-dialog {
  @extend .dialog;
  width: 600px;

  .title {
    background-color: $inverted-background-color;
  }

  .error {
    font-weight: 500;    
    margin-bottom: $unit;
  }

  .field {
    margin-bottom: $unit;

    .text-input .inner {
      input, .bar {
        width: 450px;
      }
    }
  }
}
