@import 'variables.scss';
@import 'util-components.scss';

.scrollable-panel {
  overflow-y: scroll;
  
  box-shadow: inset 0 1px 2.5px 0px rgba(0,0,0,0.225); 
  margin: 2 * $unit (-$dialogMargin);
  padding: 0 $dialogMargin;
  border-top: 1px solid $light-line-color;
  border-bottom: 1px solid $light-line-color;
}

.magic-barcodes-list {
  @extend .scrollable-panel;
  max-height: 14 * $unit;
  
  .barcode {
    margin: $unit;
    display: flex;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: lighten($text-color, 10%);
    }

    .logo {
      width: 1.3em;
      margin-right: 0.5em;

      img {
        width: 100%;
      }
    }
  }
}

.payment-dialog {
  @extend .dialog;

  // needed to position the barcode scanner right over it.
  position: relative;

  .title {
    background-color: $inverted-background-color;
  }

  .body {
    .barcode-label {
      font-weight: 500;
      margin-top: 6 * $unit;
      margin-bottom: 2 * $unit;
    }
  }
}

.status-dialog {
  @extend .dialog;

  width: 400px;

  .log-panel {
    @extend .scrollable-panel;

    min-height: 22 * $unit;
    max-height: 22 * $unit;

    .entry {
      margin: $unit;
    }
  }
}

.spinner {
  flex-grow: 0.2;
  width: 100%;

  &.status {
    // this makes the status box have aspect ratio 10:1 which is the same as the svg. 
    padding-bottom: 10%;
    position: relative;

    > div {
      position: absolute;
      top: 0; 
      bottom: 0; 
      left: 0; 
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }

  .animate {
    x: 0;
    transition: x .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}