$background-color: #fff;
$light-line-color: #a0a0a0;
$light-background-color: #BBDCC7;
$inverted-foreground-color: #ffffff;
$inverted-background-color: #6D917C;

$unit: 8px;
$font-size-large: 18px;

$text-color: #58585A;
